<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>



      <ng-template *ngIf="location === 'chat'">
        <app-chat></app-chat>
      </ng-template>
      
      <ng-template *ngIf="location === 'draw'">
        <app-draw></app-draw>
      </ng-template>
      
      <ng-template *ngIf="location === 'make-books'">
        <app-make-books></app-make-books>
      </ng-template>
      
      <ng-template *ngIf="location === 'write-software'">
        <app-write-software></app-write-software>
      </ng-template>
      
      
  
