<form [formGroup]="apiForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">AWS Access Key:</ion-label>
    <ion-input type="text" formControlName="aws_access_key"></ion-input>
  </ion-item>
  <div *ngIf="aws_access_key.invalid && (aws_access_key.dirty || aws_access_key.touched)">
    <div *ngIf="aws_access_key.errors?.required">AWS Access Key is required.</div>
  </div>

  <ion-item>
    <ion-label position="floating">AWS Secret:</ion-label>
    <ion-input type="password" formControlName="aws_secret"></ion-input>
  </ion-item>
  <div *ngIf="aws_secret.invalid && (aws_secret.dirty || aws_secret.touched)">
    <div *ngIf="aws_secret.errors?.required">AWS Secret is required.</div>
  </div>

  <ion-item>
    <ion-label position="floating">AWS Region:</ion-label>
    <ion-input type="text" formControlName="aws_region"></ion-input>
  </ion-item>
  <div *ngIf="aws_region.invalid && (aws_region.dirty || aws_region.touched)">
    <div *ngIf="aws_region.errors?.required">AWS Region is required.</div>
  </div>

  <ion-item>
    <ion-label position="floating">OpenAI API Key:</ion-label>
    <ion-input type="text" formControlName="open_ai_api_key"></ion-input>
  </ion-item>
  <div *ngIf="open_ai_api_key.invalid && (open_ai_api_key.dirty || open_ai_api_key.touched)">
    <div *ngIf="open_ai_api_key.errors?.required">OpenAI API Key is required.</div>
  </div>

  <ion-button expand="full" type="submit" [disabled]="apiForm.invalid">Submit</ion-button>
</form>
